@use "../../../styles/variants.scss";

.about-us {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 50px;

  .container {
    width: 100%;
  }

  &__wrapper {
    display: grid;
    grid-template-rows: max-content 1fr;
    align-items: center;
    height: 100%;
  }

  &__title {
    font-size: clamp(1rem, 0.858rem + 0.71vw, 1.5rem);
    max-inline-size: 32ch;
    text-wrap: balance;

    span {
      @include variants.txtGradient();
      font-weight: 700;
    }
  }

  &__advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 100px clamp(3.125rem, 1.532rem + 7.96vw, 8.75rem);
    width: 100%;
  }
}

.advantages {
  &__item {
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 30px;
    align-items: flex-start;
    width: max-content;
  }

  &__item:nth-of-type(3) {
    margin-left: auto;
  }

  &__number {
    @include variants.txtGradient();
    font-weight: 500;
    font-size: clamp(4rem, 2.867rem + 5.66vw, 8rem);
  }

  &__description {
    display: grid;
    grid-template-rows: max-content max-content;
    gap: 15px;
    padding: 26px 0 0 0;
  }

  &__title {
    font-size: clamp(1rem, 0.858rem + 0.71vw, 1.5rem);
    max-inline-size: 15ch;
  }

  &__sub-title {
    font-size: clamp(0.75rem, 0.679rem + 0.35vw, 1rem);
    opacity: 60%;
    text-transform: lowercase;
    text-wrap: balance;
  }
}

@media (width <= 805px) {
  .about-us {
    &__wrapper {
      align-items: flex-end;
    }
    &__advantages {
      flex-wrap: nowrap;
      overflow-x: scroll;
      user-select: none;
      cursor: grab;
      padding: 24px 0;

      &:active {
        cursor: grabbing;
      }

      &::-webkit-scrollbar {
        height: 3px; /* Ширина скроллбара */
      }

      &::-webkit-scrollbar-track {
        background: rgba(72, 72, 72, 0.1); /* Цвет трека скроллбара */
        border-radius: 10px; /* Скругление трека скроллбара */
      }

      &::-webkit-scrollbar-thumb {
        background: variants.$mainColor; /* Цвет полосы прокрутки */
        border-radius: 10px; /* Скругление полосы прокрутки */
        height: 3px; /* Высота полосы прокрутки */
      }
    }
  }
}
