@use "../../../styles/variants.scss";

.header-promo {
  height: 100svh;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 11vh;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0%), #f3f3f3);
    pointer-events: none;
  }

  &__offer {
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  &__title {
    font-size: clamp(1.5rem, 0.792rem + 3.54vw, 4rem);
    font-weight: 500;
    color: #414141;
    text-transform: uppercase;
    max-inline-size: 17ch;
    text-wrap: balance;
  }

  &__sub-title {
    font-size: clamp(0.875rem, 0.556rem + 1.59vw, 2rem);
    color: rgba(72, 72, 72, 60%);
    text-transform: lowercase;
    font-weight: 500;
  }

  &__button {
    margin: 20px 0 0 0;
    max-width: 21.25em;
  }

  &__backgorund-img {
    position: absolute;
    bottom: 24px;
    right: clamp(0rem, -0.512rem + 2.56vw, 2.563rem);
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.01);
    }
  }
}
.desctop-display {
  width: clamp(20rem, 12.763rem + 36.19vw, 56.188rem);
  height: clamp(11.25rem, 7.262rem + 19.94vw, 31.188rem);
}
.mobile-display {
  width: clamp(4.938rem, 3.1rem + 9.19vw, 14.125rem);
  height: clamp(8.125rem, 5.225rem + 14.5vw, 22.625rem);
}

@media (width < 48em) {
  .header-promo {
    &__offer {
      justify-content: flex-start;
      padding: 33.333svh 0 0 0;
    }
  }
}
