.developers-info {
  display: grid;
  grid-template-rows: max-content 1fr;
  gap: 50px;
  .container {
    width: 100%;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: clamp(3.125rem, -12.221rem + 30.31vw, 15.25rem);
  }
}

.developer {
  display: grid;
  gap: clamp(2.5rem, 2.323rem + 0.88vw, 3.125rem);
  &__title {
    text-transform: uppercase;
    font-size: clamp(1rem, 0.858rem + 0.71vw, 1.5rem);

    &::after {
      content: "";
      display: block;
      width: 150px;
      height: 2px;
      background: rgba(65, 65, 65, 0.2);
      border-radius: 10px;
      margin: 20px 0 0 0;
    }
  }

  &__subtitle {
    font-size: clamp(0.875rem, 0.84rem + 0.18vw, 1rem);
    color: rgba(65, 65, 65, 0.6);
    font-weight: 500;
  }

  &__info-block {
    display: grid;
    gap: 10px;
  }
}
.skills {
  &__txt {
    font-size: clamp(1rem, 0.858rem + 0.71vw, 1.5rem);
    text-transform: lowercase;
  }
}
.stack {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(0.313rem, 0.224rem + 0.44vw, 0.625rem);
  }

  &__item {
    background: #414141;
    padding: clamp(0.625rem, 0.537rem + 0.44vw, 0.938rem)
      clamp(0.938rem, 0.672rem + 1.33vw, 1.875rem)
      clamp(0.625rem, 0.537rem + 0.44vw, 0.938rem)
      clamp(0.625rem, 0.448rem + 0.88vw, 1.25rem);
    width: max-content;
    border-radius: clamp(0.313rem, 0.224rem + 0.44vw, 0.625rem);

    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 15px;
  }

  &__img {
    max-width: clamp(1.563rem, 1.173rem + 1.95vw, 2.938rem);
  }

  &__name {
    color: #fff;
    font-size: clamp(0.875rem, 0.698rem + 0.88vw, 1.5rem);
  }
}

@media (width <= 810px) {
  .developers-info {
    &__wrapper {
      grid-template-columns: 1fr;
    }
  }
}
