@use "../../../styles/variants.scss";

.header {
  width: 100%;
  position: fixed;

  z-index: 10;
  top: 0;
  transition: background 0.3s ease;
  box-shadow: 0px 7px 30px rgba(0, 0, 0, 5%);

  &__items {
    height: 83px;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(2, minmax(auto, max-content));
  }

  &__logo {
    @include variants.txtGradient;
    font-family: "CSPcircle";
    font-size: 3rem;

    @include variants.txtGradientHover("csp");
  }

  &__nav {
    z-index: 10;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    align-items: center;
  }

  &__burger-btn {
    margin: 0 0 0 8.3333vw;
    width: 30px;
    height: 14px;
    position: relative;
    cursor: pointer;

    &::after,
    &::before,
    span {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      background: rgba(72, 72, 72, 0.8);
      display: block;
      border-radius: 50px;
      width: 100%;
    }
    &::after {
      top: 0;
      transition: all 0.3s ease;
    }

    &::before {
      bottom: 0;
      transition: all 0.3s ease;
    }
    span {
      top: 6px;
    }
  }

  &__burger-btn.active {
    position: sticky;
    z-index: 1000;
    &::after {
      transform: rotate(45deg);
      top: 7px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 7px;
    }
    span {
      display: none;
    }
  }

  &__link {
    color: rgba(65, 65, 65, 100%);
    filter: invert(0.8);
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
      opacity: 50%;
    }
  }
}

.burger-menu {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: 30px;

  padding: 109px 30px 30px 30px;
  position: fixed;
  z-index: 11;
  right: 0;
  top: 0;

  height: 100dvh;
  width: 308px;

  background: #fff;
  box-shadow: -7px 0px 9px rgba(0, 0, 0, 20%);

  &__links {
    display: grid;
    grid-auto-rows: min-content;
    gap: 30px;
  }
  &__link {
  }

  &__button {
    padding: 1.531em 2em;
    align-self: flex-end;
  }

  &__contacts {
    display: grid;
    gap: 15px;

    &::before {
      content: "";
      display: block;
      width: 150%;
      height: 1px;
      background: rgba(72, 72, 72, 20%);
      margin: 0 -30px 15px -30px;
    }
  }

  &__contact {
    color: rgba(72, 72, 72, 60%);
    font-weight: 500;
  }
}

@media (max-width: 48em) {
  .header {
    position: relative;
    &__burger-btn {
      margin: 0 0 0 0;
    }
  }
}

@media (width <= 768px) {
  .burger-menu {
    width: 100%;
  }
}
