@use "variants.scss";
@use "Form.scss";
@use "../components/header/styles/header.scss";
@use "../components/headerPromo/styles/headerPromo.scss";
@use "../components/ourServices/styles/ourServices.scss";
@use "../components/PageTitle/styles/pageTitle.scss";
@use "../components/leaveRequest/styles/leaveRequest.scss";
@use "../components/aboutUs/styles/aboutUs.scss";
@use "../components/developersInfo/styles/developerInfo.scss";
@use "../components/ourProjects/styles/ourProjects.scss";
@use "../components/footer/styles/footer.scss";
@use "../components/developmentProcess/styles/developmentProcess.scss";

.wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

section {
  padding: clamp(2.5rem, 0.836rem + 8.32vw, 8.375rem) 0 40px 0;
  min-height: 100svh;

  &.header-promo {
    padding: 0;
  }
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
}

.Toastify {
  min-height: auto;
  padding: 0;
}

@layer rest, buttons;

@layer buttons {
  .button {
    max-height: 69px;
    border-radius: 100px;
    line-height: 20px;
    font-size: clamp(0.75rem, 0.679rem + 0.35vw, 1rem);
    padding: 1.563em 3.125em;
    background: variants.$mainColor;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: 600;

    @include variants.GradientHover;
  }

  .button-second {
    max-height: 69px;
    border-radius: 100px;
    line-height: 20px;
    font-size: clamp(0.75rem, 0.679rem + 0.35vw, 1rem);
    background: transparent;
    text-transform: uppercase;
    text-align: center;
    color: rgba(65, 65, 65, 20%);
    font-weight: 600;
    border: 2px solid rgba(65, 65, 65, 20%);
    transition: all 0.5s ease;

    &:hover {
      border: 2px solid rgba(200, 117, 217, 100%);
    }

    p {
      height: 100%;
      padding: 1.563em 3.125em;
      font-weight: 700;
      @include variants.txtGradientHover("тех. задание");
    }
  }

  .button-second-form {
    color: rgba(255, 255, 255, 60%);
    border: 2px solid rgba(255, 255, 255, 60%);
  }

  .button-alt {
    max-height: 69px;
    background: #fff;
    text-transform: uppercase;
    padding: 0;
    border-radius: 100px;
    font-size: clamp(0.75rem, 0.679rem + 0.35vw, 1rem);

    p {
      height: 100%;
      @include variants.txtGradient;
      padding: 1.563em 3.125em;
      font-weight: 700;
    }
  }
}

@media (width <= 31.25em) {
  .button {
    max-width: none;
    width: 100%;
  }
}

@media (width <=768px) {
  .main {
    margin: -83px 0 0 0;
  }
}
